* {
  box-sizing: border-box;
  /*    * gilt für alle Elemente   */
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 100%;
}
/*wurde im html hier definiert
<header id="navi-header">, daher Prefix #*/
#navi-header {
  background-color: rgb(140,144,152);
  height: 60px;
}
/*wurde im html so definiert
<div class="wrapper">, daher Prefix .  */
.wrapper {
  width: 90%;
  margin: auto;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
/*   Kommentar  */
#navi-header a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.8s ease-in color;
}
#navi-header a:hover {
  color: rgb(69,139,116);
}
#menu {
  display: none;
}
#logo {
margin-top: 10px;
}
#burger {
background: transparent;
color: #fff;
float: right;
margin-top: 11px;
border: none;
font-size: 2rem;

}
#menu.show {
  display: block;
  background: rgb(140,144,152);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: center;
}



@media (min-width: 1024px) {
  #navi-header li{
    display: inline-block;
    margin-left: 2rem;
  }
  #menu {
  float: right;
  display: block;
  margin-top: 19px;
  }
  #burger {
  display: none;
  }
}
/*hero section*/
.hero {
  background-image: url(img/intro.jpg);
  /*vh viewport*/
  height: 100vh;
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
  display: flex;
   }
  .hero-text {
    color: #fff;
    margin: auto;
    text-align: center;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
  }
  .hero-text a{
    color: #fff;
    text-decoration: none;
    background-color: rgb(102,205,170);
    padding: 1rem;
    border-radius: 5px;
    /*border-radius: 50%;
    border-radius: 50px;*/
    border: 2px solid #fff;
    transition: 0.8s;
    -webkit-box-shadow: -1px 0px 22px 0px #FFF8B0;
    box-shadow: -1px 0px 22px 0px #FFF8B0;
  }
.hero-text a:hover {
    background: rgb(69,139,116);
  }

}

/**   mehrere Zeilen
*
**/
